# Mini Project

In [1]:
import re
from datetime import datetime
from datetime import date
import sys

In [3]:
name=input('Enter your name')
address=input('Enter your address')
phone=input('Enter your phone number')
pan_card=input('Enter your pan card')

#birthday Details
b_day=int(input("Enter your birth Date"))
b_month=int(input('Enter your birth Month'))
b_year=int(input('Enter your birth Year'))

ssc_marks=int(input('Enter your 10th marks'))
hsc_marks=int(input('Enter your 12th marks'))

Enter your nameDarsh
Enter your addressPune
Enter your phone number9273872734
Enter your pan cardDCFGP2876H
Enter your birth Date23
Enter your birth Month10
Enter your birth Year1999
Enter your 10th marks86
Enter your 12th marks63

In [5]:
#birth date
birth=date(year=b_year,month=b_month,day=b_day)
todaysdate=datetime.now()
age=todaysdate.year-birth.year
age

23

In [6]:
e=0

def Info(name,address,phone,pan_card,ssc_marks,hsc_marks):
    
#name    
    try:
        if name.isalpha()==False:
            e=1
            raise Exception('name is not valid')
    except:
        print('Enter valid Name')
        return e

    
#phone     
    try:    
        if phone.isdigit()==False:
            e=1
            raise Exception('phone is not valid')
    except:
        print('Enter valid Phone number')
        return e
   

    try:
        if len(phone)!=10:
            e=1
            raise Exception('phone is not valid')
    except:
        print('Enter valid Phone number')
        return e
    
    
#ssc marks    
    try:
        if ssc_marks<0 or ssc_marks>100:
            raise Exception("Enter valid marks")
    except:
        print('Enter valid 10th marks')

        
        
#hsc marks
    try:
        if hsc_marks<0 or hsc_marks>100:
            raise Exception("Enter valid marks")
    except:
        print('Enter valid 12th marks')

        
        
#pancard        
    try:

        if re.match('[A-Z]{5}[1-9]{4}[A-Z]{1}$',pan_card):
            e=0
            return e
        else:
            print('invalid Pan card number')
    except:
        print('Enter valid pan card number')
        
Info(name,address,phone,pan_card,ssc_marks,hsc_marks)

#birth date

0

In [10]:
login_id=input('Enter your user id ')
password=input('Enter your password ')
val=0
def Password(password):
    
    cap=re.search('[A-Z]',password)
    small=re.search('[a-z]',password)
    num=re.search('[0-9]',password)
    splc=re.search('[@,#,$]',password)
    try:
        if cap and small and num and splc:
            val=0
            #print('valid')
            return val
            
        else:
            val=1
            raise Exception("not valid password")        
        
    except:
        print('Enter valid password')
        return val
    
    try:
        if len(password)>6 and len(password)<12:
            val=0
           # print('valid')
            return val
            
        else:
            val=1
            raise Exception("not valid password")        
        
    except:
        print('Enter valid password')
        return val

Password(password)

datetime
now=datetime.now()
formatted_date = now.strftime('%Y-%m-%d %H:%M:%S')
formatted_date

Enter your user id Darshan
Enter your password dd777gosavi@
Enter valid password

'2022-11-04 16:14:26'

In [11]:
import mysql.connector
mydb=mysql.connector.connect(host="localhost",database='pass',user="root",password="dd777gosavi@")
c=mydb.cursor()

In [12]:
if e==0 and val==0:
    
    into="INSERT INTO info(name,address,ssc_marks,hsc_marks,Birth,pan_card,phone,Date,login_id,password) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
    values=(name,address,ssc_marks,hsc_marks,age,pan_card,phone,formatted_date,login_id,password)
    c.execute(into,values)
    mydb.commit()

else:
    pass

In [13]:
dic={}
def studentinfo():
    
    if len(dic)==0:
        
        dic[1]=({"name":name,"address":address,"phone number":phone, "pancardnumber":pan_card, "10_mark":ssc_marks,"12_mark":hsc_marks,"DOB":birth})
    else:
        cnt=len(dic)+1
        dic[cnt]=({"name":name,"address":address,"phone number":phone, "pancardnumber":pan_card, "10_mark":ssc_marks,"12_mark":hsc_marks,"DOB":birth})
    return dic ,

In [14]:
studentinfo()

({1: {'name': 'Darsh',
   'address': 'Pune',
   'phone number': '9273872734',
   'pancardnumber': 'DCFGP2876H',
   '10_mark': 86,
   '12_mark': 63,
   'DOB': datetime.date(1999, 10, 23)}},)

In [15]:
dic[1]

{'name': 'Darsh',
 'address': 'Pune',
 'phone number': '9273872734',
 'pancardnumber': 'DCFGP2876H',
 '10_mark': 86,
 '12_mark': 63,
 'DOB': datetime.date(1999, 10, 23)}

In [16]:
def change_name(rollno,name):
    dic[rollno].update({'name':name})
def change_address(rollno,address):
    dic[rollno].update({"address":address})
def change_phoneno(rollno,ph):
    dic[rollno].update({'phone number':ph})
def change_DOB(rollno,DOB):
    dic[rollno].update({'DOB':DOB})
def change_10marks(rollno,ssc_mark):
    dic[rollno].update({'10_mark':mark_10})
def change_12marks(rollno,hsc_mark):
    dic[rollno].update({'12_mark':mark_12})

In [17]:
def getdetails():
    if e==0:
        print("the name of student is ",name)
        print("the address is",address)
        print("the phone no is",phone)
        print("pan card no is",pan_card)
        print("date of birth is ",format(birth))
        print("the 10 th marks is ",format(ssc_marks))
        print("the 12 th marks is ",format(hsc_marks))
    else:
        print("Give valid information")

In [18]:
getdetails()

the name of student is  Darsh
the address is Pune
the phone no is 9273872734
pan card no is DCFGP2876H
date of birth is  1999-10-23
the 10 th marks is  86
the 12 th marks is  63

In [21]:
change_address(1,'Nandurbar')

In [22]:
dic[1]

{'name': 'Darsh',
 'address': 'Nandurbar',
 'phone number': '9273872734',
 'pancardnumber': 'DCFGP2876H',
 '10_mark': 86,
 '12_mark': 63,
 'DOB': datetime.date(1999, 10, 23)}